chromadb==1.1.0
dotenv==0.9.9
fastapi==0.116.2
openai==1.108.1
orjson==3.11.3
overrides==7.7.0
packaging==25.0
psycopg2==2.9.10
pygments==2.19.2
pyodbc==5.2.0
pypika==0.48.9
pyproject-hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyyaml==6.0.2
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.1.0
rpds-py==0.27.1
rsa==4.9.1
tokenizers==0.22.1
urllib3==2.5.0
uvicorn==0.35.0
sentence-transformers==2.2.2